input.comment-field {
    background-color: black;
    border-color: grey;
}

input.comment-field:focus {
    background-color: rgb(54, 53, 53);
    border-color: grey;
    color: white;
}

.comment-bar {
    position: absolute;
    bottom: 3%;
    left: 0;
    padding: 0 4%
}