* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

#comment-canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.player {
    color: white
}

.play, 
.pause, 
.mute, 
.unmute, 
.rewind{
    cursor: pointer;
    opacity: 0.85;
}

.sound-controls {
    padding-top: 5%;
}

.play:hover,
.pause:hover,
.mute:hover,
.unmute:hover,
.rewind:hover {
    opacity: 1;
}

.song {
    padding-top: 0;
}

.display-area {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.comments-container {
    border: 1px solid grey;
}

.time {
    font-size: 1.5em;
}

.form-group {
    position: absolute;
    bottom: 0;
    width: 100%
}

#comment-input {
    display: inline;
}

.comment-button {
    display: inline;
}

.back-button {
    padding-top: 20px;
    padding-left: 16px;
    color: white;
}

.controls-container {
    position: absolute;
    bottom: 18%;
    width: 100%;
    left: 0;
    padding: 0 4%
}

#like-container {
    padding-top: 4%;
}

@media only screen and (orientation: landscape) {
    /* #comment-canvas {
        position: fixed;
        left: 0;
        top: -30%;
        width: 50%;
        display: inline-block;
        z-index: -1;
    }
    .display-area {
        width: 50%;
        z-index: -1;
        transform: translate(-10%, -50%);
    }
    #like-container {
        position: fixed;
        right: 5%;
        display: inline-block;
        z-index: -1;
        padding-top: 0;
    } */
    .song h1 {
        font-size: 2rem;
    }
    .song h3 {
        font-size: 1.5rem;
    }
}