* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

#comment-canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.play, 
.pause, 
.mute, 
.unmute, 
.rewind{
    cursor: pointer;
    opacity: 0.85;
}

.sound-controls {
    padding-top: 5%;
}

.play:hover,
.pause:hover,
.mute:hover,
.unmute:hover,
.rewind:hover {
    opacity: 1;
}

.song {
    padding-top: 0;
}

.display-area {
    position: relative;
}

.comments-container {
    border: 1px solid black;
    margin-top: 20%;
}

.time {
    font-size: 1.5em;
}

.form-group {
    position: absolute;
    bottom: 0;
    width: 100%
}

#comment-input {
    display: inline;
}

.comment-button {
    display: inline;
}

.back-button {
    padding-top: 20px;
    padding-left: 16px;
}