.footer_mic {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(94, 90, 90, .5);
    transition: bottom 0.3s;
}

.styles_button__3Vugn {
    background: red !important;
}

.fa-circle, .fa-microphone {
    color: rgb(177, 141, 52);
}