.navBar {
    padding-top: 16px;
}

.avatar_image {
    border: 1px solid black;
}

.img-fluid {
   height: 100%;
}

.back_button .fa-chevron-left {
    color: white;
}

.back_button {
    text-align: center;
}

hr {
    border-color: grey;
}

.navBar img {
    width: 40%
}

.profile_icon {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .navBar img {
        width: 15%;
        text-align: center;
    }
}