.navBar {
    padding-top: 16px;
}

.avatar_image {
    border: 1px solid black;
    width: 100%;
    border-radius: 50%;
}

.img-fluid {
   height: 100%;
}

.back_button .fa-chevron-left {
    color: white;
}

.back_button {
    text-align: center;
}

hr {
    border-color: grey;
}


.profile_icon {
    text-align: center;
}



/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: rgb(155, 153, 153);
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: #ffb200;
    font-size: 1.7rem;
    padding: 10%; 
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .bm-burger-button{
    position: relative;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 0;
  }

/* @media only screen and (min-width: 600px) {
    .navBar img {
        width: 15%;
        text-align: center;
    }
} */