body{
	background-color:white;
}

.login_div{
	box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: black;
	color: white;
	/* width: 80%;
	height: auto; */
	/* margin-top: 4%;
	border-radius: 10px; */
}

#header_para{
	padding-top: 16px;
	font-size: 150%;
	color:white;
	margin-bottom: 0;
}

#card{
	font-family:'Raleway', sans-serif;
	opacity: .7;
	font-size: 200%;
	color: rgb(241, 205, 112);
}

.login-form, .login-button-container {
	width: 100%;
	padding-bottom: 2%;
}

.login-button {
	background-color: rgb(177, 141, 52);
	color:white;
}

.login_div input {
	width: 70%
}

.error-text {
	display: block;
}