#logo-text {
	padding-top: 16px;
	font-size: 2rem;
	color:white;
	margin-bottom: 0;
	font-family: Alcubierre, sans-serif;
}

#app-text{
	font-size: 2.5rem;
	color: rgb(241, 205, 112);
}

@media only screen and (max-width: 600px) {
	#logo-text {
		padding-top: 16px;
		font-size: 1.5rem;
		color:white;
		margin-bottom: 0;
		font-family: Alcubierre;
	}
	
	#app-text{
		font-size: 2rem;
		color: rgb(241, 205, 112);
	}
}