.microphone button, .microphone .fa-circle {
    color: white;
}

.microphone .fa-circle::before{
    color: red;
}

.microphone {
    width: 100vw
}

.centered {
    position: fixed; /* or absolute */
    top: 45%;
    left: 0
}

.sound-wave {
    width: 100vw;
}

.record-controls {
    position: absolute;
    bottom: 10%;
    width: 100%;
    left: 0;
}

.record-controls button {
    border-color: black;
    background-color: black;
}

.record-controls * {
    padding: 0
}

.fa-stop-circle {
    color: white;
}

.ReactModal__Content {
    text-align: center;
}

.title-input{
    display: block;
}