.audio_container {
    margin: 4% auto;
    height: 15vh;
}

.title_text {
    width: 80%;
}

.audio_title {
    font-size: 1rem;
}

.audio_display {
    margin-top: 3%;
}

.audio_title {
    margin-bottom: 3%;
}

.audio_image {
    border: 1px solid black;
}

.audio-player {
    height: 100% !important;
}

a {
    text-decoration: none;
    color: black;
}

.audio-player {
    border: 0.2px solid black
}