.audio-player {
    background: url('../images/avatars/2brettDj.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #play {
    cursor: pointer;
  }

