.post_avatar_container {
    border-radius: 50%;
    border: 1px solid black;
    width: 25%
}

.account-info {
    color: white;
}

@media only screen and (max-width: 600px) {
    .post_avatar_container {
        width: 40%
    }
}

input.rcw-new-message {
    color: black;
}

textarea:focus input:focus {
    color: black;
}

input{
    color: black;
}

.rcw-launcher:hover {
    background-color: rgb(51, 108, 155);
    cursor: pointer;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fa-trash {
    font-size: 1.5rem;
    float: right;
}