.avatar_container {
    border: 1px solid grey;
    width: 80%;
}

.likes_container {
    position: absolute;
    right: -5%;
}

.fa-play-circle,
.fa-pause-circle {
    color: rgb(177, 141, 52);
}

.likes_container {
    color: grey;
    z-index: 1;
}

.post-title {
    white-space: nowrap;
    font-size: 1.3rem;
}

.audio_visualizer canvas {
    width: 100%
}

.audio_visualizer {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .post-title {
        white-space: nowrap;
        font-size: 1rem;
    }
}
